@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:rgb(3, 2, 3);

}
li, a, button{
    font-family: "Space Grotesk", sans-serif;
    font-weight:600;
    font-size:16px;
    color:#f0e4f1;
    text-decoration: none;
    
}
header{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0px 10px;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_links{
    list-style: none;
    
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:#913592;
}
button{
    padding: 9px 25px;
    background-color: rgba(160, 73, 162,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(160, 73, 162,0.8);

}
.login_screen{
    
    width: 400px;
    position: absolute;
    background-color:white;
    border-radius: 6px;
    transform: translate(-50%,-50%) scale(0.1);
    top:0;
    left: 50%;
    
    text-align: center;
    color:#f0e4f1;
    padding: 0px 30px 30px;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
    
}
.open-login_screen{
    top:50%;
    visibility:visible ;
    transform: translate(-50%,-50%) scale(1);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}