@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:rgb(3,2,3);

}
li, a, button{
    font-family: "Space Grotesk", sans-serif;
    font-weight:600;
    font-size:16px;
    color:#f0e4f1;
    text-decoration: none;
    
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
    position: fixed;
    top: 0;
    width: 100%; 
    background-color: rgb(3, 2, 3); 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_links{
    list-style: none;

    
    
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:#913592;
}
button{
    padding: 9px 25px;
    background-color: rgba(160, 73, 162,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(160, 73, 162,0.8);

}
.login_screen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
    width: 400px;
    position: absolute;
    background-color:rgba(58, 41, 58, 1);
    border-radius: 6px;
    transform: translate(-50%,-50%) scale(0.1);
    top:0;
    left: 50%;
    height: 150px;
    
    text-align: center;
    /* color:#612762; */
    padding: 0px 30px 30px;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
    
}
.login_screen h3 ,.login_screen input{
    background-color: rgba(58, 41, 58, 1);
    font-family: "Space Grotesk", sans-serif;
    font-weight:600;
    font-size:16px;
    color:#f0e4f1;
    text-decoration: none;
    
}
login_screen h3 {
    font-size: 20px;
}
.open-login_screen{
    top:50%;
    visibility:visible ;
    transform: translate(-50%,-50%) scale(1);
}

.home{
    
    height: 80vh;
    width: 100%;
}
.nologin{
    color: #f0e4f1;
    padding: 200px;
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;

}
html{
    scroll-behavior: smooth;
}
